<title>Home | SecHint</title>
{% extends "base.html" %}

{% block content %}

{% load static %}
    <!-- BANNER-SECTION -->
    <div class="home-header-section">
        <div class="home-banner-section overflow-hidden">
            <div class="banner-container-box">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 mb-md-0 mb-4 text-md-left text-center">
                            <div class="home-banner-text" data-aos="fade-up">
                                <h4 class="text-white rastchin artificial-text"></br>به هدف‌هایت برس، ما کنارت هستیم!</h4>
                                <h1 class="rastchin"><span class="cyber-text"> تست نفوذ و باگ بانتی
                                </span> </h1>
                                <p class="text-white rastchin banner-paragraph">
                                    </br>
                                    خیلی وقت‌ها با علاقه و اشتیاق هدفی را انتخاب می‌کنیم، اما مسیر رسیدن به آن برایمان نامشخص است. اینجا و آنجا سرگردان می‌شویم و ممکن است دلسرد شویم. اما دیگر نگران نباش! ما اینجا هستیم تا همراهت باشیم و تو را در مسیر درست هدایت کنیم. با ما طعم شیرین رسیدن به اهدافت را تجربه کن.
                                </p>
                                <div class="banner-btn discover-btn-banner">
                                    <a href="{% url 'home:roadmap' %}" class="text-decoration-none">کشف مسیر </a>
                                    <a href="" class="text-decoration-none play-button"><i class="fa-solid fa-play"></i></a>
                                </div>
                            </div>
                            <div class="social-icons" data-aos="zoom-out-left">
                                <ul class="list-unstyled">
                                    <li><a class="text-decoration-none" href="#"><i class="fa-regular fa-horizontal-rule"></i></a></li>

                                    <li><a href="" class="text-decoration-none"><i class="fa-brands fa-twitter social-networks"></i></a></li>
                                    <li><a href="https://youtube.com/@sec_hint?si=oBnzktfoSJSRclzu" class="text-decoration-none"><i class="fa-brands fa-youtube social-networks"></i></a></li>
                                    <li><a href="https://t.me/sec_hint" class="text-decoration-none"><i class="fa-brands fa-telegram social-networks"></i></a></li>
                                    <li><a href="" class="text-decoration-none"><i class="fa-brands fa-instagram social-networks"></i></a></li>
                                    <li><a href="" class="text-decoration-none"><i class="fa-brands fa-linkedin-in social-networks"></i></a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="banner-img-content position-relative" data-aos="fade-up">
                                <figure class="banner-img mb-0 wow slideInRight" data-wow-duration="2s">
                                    <img class="img-fluid banner-img-width" src="{% static 'assets/images/banner-img.png' %}" alt="" />
                                </figure>
                            </div>
                        </div>
                    </div>
                    <!-- CARDS-SECTION -->
                    <div class="cards-section overflow-hidden">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 mb-md-0 mb-4 text-md-left text-center">
                                    <div class="cards-outer outer-card1" data-aos="fade-up">
                                        <h6 class="heading-background">آخرین رویدادها</h6>
                                        <p class="card-heading-p vertical-bar-line"></p>
                                        <p class="date-p">July 22, 2024</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 mb-md-0 mb-4 text-md-left text-center">
                                    <div class="cards-outer outer-padding-left outer-card2" data-aos="fade-up">
                                        <h6 class="heading-background">گزارشات جدید</h6>
                                        <p class="card-heading-p vertical-bar-line"></p>
                                        <p class="date-p">July 22, 2024</p>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 mb-md-0 mb-4 text-md-left text-center" data-aos="fade-up">
                                    <div class="outer-padding-left-last outer-card3">
                                        <h6 class="heading-background">پنل پیشرفته</h6>
                                        <p class="card-heading-p"></p>
                                        <p class="date-p">July 22, 2024</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ICONS_SECTION -->
    <section class="icons-section overflow-hidden">
        <div class="container">
        </div>
    </section>
    <!-- ABOUT-US_SECTION -->
    <section class="about-us-section-start about-us-section-2 overflow-hidden">
        <div class="about-right-icon position-relative">
            <figure class="about2-left-img"><img src="{% static 'assets/images/about-section2-left-img.png' %}" alt=""
                    class="img-fluid">
            </figure>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center offer-section-title"  data-aos="flip-up">آنچه ما ارائه می دهیم</h3>
                    <p class="text-center"  data-aos="fade-left">ما با ارائه راهکارهای امنیت سایبری پیشرفته و شخصی‌سازی شده، اطمینان می‌دهیم که هر جنبه از سیستم‌های شما به طور کامل محافظت شود

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="about-us-content about-margin-bottom " data-aos="fade-up">
                        <div class="icons-rounded-box">
                            <figure class="mb-0"><img src="{% static 'assets/images/about-section2-icon1.png' %}" alt="">
                            </figure>
                        </div>
                        <h4 class="rastchin">آموزش</h4>
                        <p class="security-services-p rastchin">اموزش های ما در برگیرنده تمام نیاز های شمااست تا به شما را اهدافتان برساند  </p>
                        <a href="about.html" class="text-decoration-none ">اطلاعات بیشتر <span class="forword-arrow"><i
                                    class="fa fa-angle-right"></i></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="about-us-content about-margin-bottom" data-aos="fade-up">
                        <div class="icons-rounded-box">
                            <figure class="mb-0 icon-color"><img src="{% static 'assets/images/about-section2-icon2.png' %}" alt="">
                            </figure>
                        </div>
                        <h4 class="rastchin">تست نفوز</h4>
                        <p class="security-services-p rastchin">انجام آزمون نفوز سامانه وب، شبکه داخلی و نرم افزار های موبایل</p>
                        <a href="about.html" class="text-decoration-none ">اطلاعات بیشتر <span class="forword-arrow"><i
                                    class="fa fa-angle-right"></i></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="about-us-content about-margin-bottom" data-aos="fade-up">
                        <div class="icons-rounded-box">
                            <figure class="mb-0"><img src="{% static 'assets/images/about-section2-icon3.png' %}" alt="">
                            </figure>
                        </div>
                        <h4 class="rastchin">شکار تهدیدات سایبری</h4>
                        <p class="security-services-p rastchin">شکارتهدیدها بصورت فعال و بافرضیه پردازی تا  پیداکردن ردپاهای احتمالی مهاجمان در زیرساخت سازمان شما</p>
                        <a href="about.html" class="text-decoration-none ">اطلاعات بیشتر <span class="forword-arrow"><i
                                    class="fa fa-angle-right"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="about-us-content" data-aos="fade-up">
                        <div class="icons-rounded-box">
                            <figure class="mb-0"><img src="{% static 'assets/images/about-section2-icon4.png' %}" alt="">
                            </figure>
                        </div>
                        <h4 class="rastchin">تیم قرمز</h4>
                        <p class="security-services-p rastchin">شبیه سازی یک حمله و تهیه گزارش کام و گام به گام</p>
                        <a href="about.html" class="text-decoration-none ">اطلاعات بیشتر <span class="forword-arrow"><i
                                    class="fa fa-angle-right"></i></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="about-us-content" data-aos="fade-up">
                        <div class="icons-rounded-box">
                            <figure class="mb-0"><img src="{% static 'assets/images/about-round-icon1.png' %}" alt="">
                            </figure>
                        </div>
                        <h4 class="rastchin">مشاوره سازمانی</h4>
                        <p class="security-services-p rastchin">شمارا یاری میدهیم تا به نتایج و اهداف امنیتی سازمانتان برسید</p>
                        <a href="about.html" class="text-decoration-none ">اطلاعات بیشتر <span class="forword-arrow"><i
                                    class="fa fa-angle-right"></i></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="about-us-content" data-aos="fade-up">
                        <div class="icons-rounded-box rastchin">
                            <figure class="mb-0"><img src="{% static 'assets/images/about-section2-icon6.png' %}" alt="">
                            </figure>
                        </div>
                        <h4 class="rastchin">اگاهی رسانی امنیت سایبری</h4>
                        <p class="security-services-p rastchin">مهم‌ترین نقطه‌ی ضعف امنیت سازمان شما عدم اگاهی کارکنانتان از تهدیدات سایبری کمین شده است</p>
                        <a href="about.html" class="text-decoration-none ">اطلاعات بیشتر <span class="forword-arrow"><i
                                    class="fa fa-angle-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CYBER-SECURITY-SECTION --> <!--ok-->
    <section class="cyber-security-section overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="cyber-content-img" data-aos="fade-up-left">
                        <figure class="mb-0"><img src="{% static 'assets/images/cyber-security-left-img.png' %}" alt=""
                                class="cyber-security-provider-img">
                        </figure>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="cyber-content" data-aos="fade-up-right">
                        <h3 class="rastchin">ارائه دهنده <span class="cyber-text">امنیت سایبری</span> پیشرفته</h3>
                        <p class="security-services-p rastchin">امنیت شما در دنیای دیجیتال با راهکارهای پیشرفته ما تضمین شده است. با استفاده از تکنولوژی‌های روز و تیمی متخصص، ما تهدیدات سایبری را شناسایی و از شما در برابر آن‌ها محافظت می‌کنیم. هدف ما ایجاد یک محیط امن و مطمئن برای کسب‌وکارها و کاربران است تا بتوانند بدون نگرانی از امنیت، به رشد و توسعه خود ادامه دهند.

                        </p>
                        <p class="security-services-p cyber-p-margin-bottom rastchin">برای مشاوره رایگان با ما درارتباط باشید</p>
                        <div class="cyber-contact-btn">
                            <a href="{% url 'contact:contact' %}" class="text-decoration-none">ارتباط با ما</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- boxes-section -->  <!--ok-->
    <div class="about-us-section-start cyber-boxes-section overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="about-us-content" data-aos="fade-up">
                        <div class="icons-rounded-box">
                            <figure class="mb-0"><img src="{% static 'assets/images/cyber-section-icon1.png' %}" alt="">
                            </figure>
                        </div>
                        <h3 class="counetr-heading"></h3>
                        <h5 class="cyber-boxes-text rastchin">پروژه های موفق</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="about-us-content" data-aos="fade-up">
                        <div class="icons-rounded-box">
                            <figure class="mb-0 icon-color"><img src="{% static 'assets/images/cyber-section-icon2.png' %}" alt="">
                            </figure>
                        </div>
                        <h3 class="counetr-heading">
                        </h3>
                        <h5 class="cyber-boxes-text rastchin">حفاظت از مشتریان</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="about-us-content"  data-aos="fade-up">
                        <div class="icons-rounded-box">
                            <figure class="mb-0"><img src="{% static 'assets/images/cyber-section-icon3.png' %}" alt="">
                            </figure>
                        </div>
                        <h3 class="counetr-heading"></h3>
                        <h5 class="cyber-boxes-text rastchin">ضمانت سرویس ها</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="about-us-content"  data-aos="fade-up">
                        <div class="icons-rounded-box">
                            <figure class="mb-0"><img src="{% static 'assets/images/cyber-section-icon4.png' %}" alt="">
                            </figure>
                        </div>
                        <h3 class="counetr-heading"></h3>
                        <h5 class="cyber-boxes-text rastchin">تیم خبره</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CYBER-SECURITY-SOLUTION -->
    <section class="cyber-security-section cyber-security-section2 overflow-hidden">
        <div class="container">
            <div class="row " >
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="cyber-content" data-aos="fade-up-left">
                        <h3 class="rastchin">ارائه بهترین راه حل های <span class="cyber-text">امنیت سایبری </span></h3>
                        <p class="security-services-p rastchin">ما با ارائه بهترین و به‌روزترین راه‌حل‌های امنیت سایبری، به شما این امکان را می‌دهیم که از تمام جنبه‌های امنیت دیجیتال خود به طور کامل محافظت کنید. تیم ما با تحلیل دقیق تهدیدات و نیازهای خاص شما، راهکارهایی سفارشی و مؤثر ارائه می‌دهد که به شما آرامش خاطر می‌بخشد و اطمینان می‌دهد که دارایی‌های دیجیتال شما در برابر حملات و نفوذها به بهترین نحو محافظت شده‌اند

                        </p>
                        <!-- <p class="security-services-p cyber-p-margin-bottom rastchin">با ما در ارتباط باشید</p> -->
                        <div class="cyber-contact-btn">
                            <a href="{% url 'contact:contact' %}" class="text-decoration-none">ارتباط با ما</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 text-md-right text-center">
                    <div class="cyber-content-img-right" data-aos="fade-up-right">
                        <figure class="mb-0"><img src="{% static 'assets/images/cyber-security-right-img.png' %}" alt="" class="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT-US_SECTION2 -->
    
    <!--Accordian-Section -->
    

    <!--PRICING-PLAN_SECTION -->
    
    <!-- ABOUT-TEAM-SECTION -->
    <section class="about-us-section-start about-teams-section overflow-hidden">
        <div class="about-right-icon position-relative" data-aos="fade-up-right">
            <figure class="whyus-icon"><img src="{% static 'assets/images/about-us-section-right-icon.png' %}" alt=""
                    class="img-fluid">
            </figure>
        </div>
        
    </section>
    <!-- Blogs-Section -->
    <section class="about-us-section-start blogs-section-starts overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-center" data-aos="fade-up">اخرین اخبار ورایتاپ ها</h3>
                    <p class="text-center" data-aos="fade-up-left">آخرین اخبار و به‌روزرسانی‌های ورایتاپ‌ها را از دست ندهید و همیشه به‌روز باشید</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for article in latest_articles %}
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="blogs-section">
                            <a href="{% url 'blog:detail' article.slug %}">
                                <div class="images-blog" data-aos="fade-up">
                                    <figure class="mb-0">
                                        <img src="{{article.thumbnail.url}}" width="290px" alt="">
                                    </figure>
                                </div>
                                <h5 class="blogs-h5">{{article.title}}</h5>
                                <p class="blogs-p rastchin">{{article.description|striptags|truncatewords:20}}</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Form-Section -->


{% endblock content %}