<title>Home | SecHint</title>
{% extends "base.html" %}

{% block content %}

{% load static %}
    <!-- BANNER-SECTION -->
    <div class="home-header-section">
        <div class="home-banner-section overflow-hidden">
            <div class="banner-container-box">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 mb-md-0 mb-4 text-md-left text-center">
                            <div class="home-banner-text" data-aos="fade-up">
                                <h2 class="text-white rastchin artificial-text" style="padding-top: 90px;
  color: #4d7ee0 !important"></br>مسیر موفقیت اینجاس!</h2>
                                
                            </div>
                            <div class="social-icons" data-aos="zoom-out-left">
                                <ul class="list-unstyled">
                                    <li><a class="text-decoration-none" href="#"><i class="fa-regular fa-horizontal-rule"></i></a></li>

                                    <li><a href="" class="text-decoration-none"><i class="fa-brands fa-twitter social-networks"></i></a></li>
                                    <li><a href="https://youtube.com/@sec_hint?si=oBnzktfoSJSRclzu" class="text-decoration-none"><i class="fa-brands fa-youtube social-networks"></i></a></li>
                                    <li><a href="https://t.me/sec_hint" class="text-decoration-none"><i class="fa-brands fa-telegram social-networks"></i></a></li>
                                    <li><a href="" class="text-decoration-none"><i class="fa-brands fa-instagram social-networks"></i></a></li>
                                    <li><a href="" class="text-decoration-none"><i class="fa-brands fa-linkedin-in social-networks"></i></a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="banner-img-content position-relative" data-aos="fade-up">
                                <figure class="banner-img mb-0 wow slideInRight" data-wow-duration="2s">
                                    <img class="img-fluid banner-img-width" src="{% static 'assets/images/new/hero_img.png' %}" alt="" />
                                </figure>
                            </div>
                        </div>
                    </div>
                    <!-- CARDS-SECTION -->
                    
                </div>
            </div>
        </div>
    </div>

  
    <!-- ABOUT-US_SECTION -->

    <!-- CYBER-SECURITY-SECTION --> <!--ok-->
   
    <!-- boxes-section -->  <!--ok-->
    
    <!-- CYBER-SECURITY-SOLUTION -->
    
    <!-- ABOUT-US_SECTION2 -->
    
    <!--Accordian-Section -->
    

    <!--PRICING-PLAN_SECTION -->
    
    <!-- ABOUT-TEAM-SECTION -->

        
  
    <!-- Blogs-Section -->
    
    <!-- Form-Section -->


{% endblock content %}